@import 'react-slideshow-image/dist/styles.css';

.slide-container {
  width: 1100px;
  position: relative;
  position: absolute;
  top: 10%;
  left: 13%;
  font-size: 35rem;
}

.images {
  border-radius: 5px;
}

.flat-button {
  color: #ffd700;
  padding: 18px;
  position: relative;
  left: 6%;
  top: 80px;
  font-size: 15px;
  font-weight: 700;
  margin-left: 10px;
  background-color: black;
  border-radius: 20px;
  border: 1px solid #ffd700;

  &:hover {
    background: #ffd700;
    color: #333;
  }
}

@media screen and (max-width: 768px) {
  .slide-container {
    width: 100%;
    position: relative;
    position: absolute;
    top: 10%;
    left: 0%;
    font-size: 16rem;
  }

  .flat-button {
    color: #ffd700;
    padding: 10px;
    position: relative;
    left: 6%;
    top: 50px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
    background-color: black;
    border-radius: 20px;
    border: 1px solid #ffd700;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}
